.env
**/.env
apps/cf_golfap
apps/Checkmate-CMS
apps/demo/cherrypy
apps/demo/pacman-game
apps/demo/phony
apps/README.md
scratch/
old/
secret.yaml
users.htpasswd
repomix/
dcgm-exporter-dashboard.json
wb-secret.yaml
notebooks/settings.yaml
gitingests/
apps/code-translator/__pycache__
apps/code-translator/agentic/__pycache__
pipelines/code_evaluator.py
pipelines/data_generator_graphrag.py
pipelines/data_generator_sdghub.py
pipelines/utils.py
apps/pacman-game
apps/demo/*.txt
resources/devspaces/devspaces_secret.yaml
resources/devspaces/devfile.yaml
**/__pycache__/
**/venv/
workflows/templates/multi-agent/venv